@import "./base";
.head-block{
  @include flex-aside;
  padding: 20px;
}

.condition{
  display: flex;
  padding:15px  20px;
  margin-top: 10px;
  background: #f8f8f8;
  align-items: center;
  .inline-group{
    margin-right: 25px;
    input[type='text']{
      box-sizing: border-box;
      width: 90px;
      color: #666;
      font-size: 12px;
      line-height: 2;
      padding: 0 10px;
    }
    label{
      margin-right: 3px;
    }
    button{
      margin-left: 20px;
    }
    input[type='radio']{
    }
    &:nth-child(1){
      button:nth-child(1){
        margin-left: 0;

      }
    }
  }
}
.content-list{
  background: $white-color;
  .content-bottom-handle{
    padding: 30px 0;
  }
}
.news-create{
  margin-top: 10px;
  background: $white-color;
}
.form-control{
  padding: 15px;
  display: flex;
  align-items: flex-start;
  position: relative;
  i.icon-add{
    font-size: 18px;
    color: #f78e40;
    position: relative;
    top: 5px;
    left: -25px;
    cursor: pointer;
  }
  label{
    display: inline-block;
    min-width: 120px;
  }
  .text-label{
    width: auto;
    min-width: 0;
    margin-right: 35px;
    input[type='radio']{
      width: 25px;
      display: inline-block;
    }
    span{
      line-height: 25px;
      display: inline-block;
      vertical-align: bottom;
    }
  }
  input,textarea{
    box-sizing: border-box;
    padding: 0 10px;
    min-width: 400px;
    resize: none;
    border:1px solid  $border-color;
  }
  input{
    height: 25px;
  }
  .fixed-width-input{
    width: 50px;
    min-width: 50px;
    text-align: center;
  }
}
.nav-handle{
  padding: 15px 20px;
  background: $white-color;
  border-bottom: 1px solid $border-color;
  .nav-name{
     float: left;
    line-height: 30px;
   }
  .handle-wrapper{
    float: right;
  }
}

.disk-table{
  td{
    vertical-align: middle;
    .icon{
      font-size: 16px;
      margin-right: 5px;
      &.icon-file{  color:#f7710d;}
      &.icon-sound{  color:#f43420;}
      &.icon-folder{  color:#f19149;}
      &.icon-picture{  color:#48c3a7;}
      &.icon-word{  color:$theme-color;}
    }
  }
}

