@import "base";

/*header*/
#common-header{
  width: 100%;
  min-width: 1200px;
  height: 60px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
  .header-left ,.header-right {
    display: flex;
    align-items: center;
  }
  .header-left{
    .header-nav a{
      float: left;
      margin-right: 30px;
      line-height: 60px;
      display: block;
      padding: 0 15px;
      font-weight: 400;
      &.active,&:hover{
        color: $theme-color;
        border-bottom: 2px solid $theme-color;
      }
    }
    .header-logo{
      width: 135px;
      height: 30px;
      margin-right: 25px;
      cursor: pointer;
      img{
        width: 100%;
      }
    }
  }
  .header-right {
    .login-user{
      display: flex;
      align-items: center;
      cursor: pointer;
      .img-wrapper{
        width: 30px;
        height: 30px;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 10px;
      }
    }
    .header-search{
      position: relative;
      border: 1px solid $border-color;
      margin-right: 20px;
      input{
        width: 220px;
        height: 30px;
        border: none;
        padding: 0;
        outline: none;
      }
      i{
        position: absolute;
        right:5px;
        top: 5px;
      }
    }
    a.star,a.login-out{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $theme-color;
      margin-left: 15px;
    }
  }
}
/* main layout*/
#wrapper{
  width: 100%;
  min-width: 1200px;
  overflow-x: auto;
  height: 100%;
  position: absolute;
  background: #f2f0f0;
}
#main-wrapper{
  position: relative;
  height: 100%;
  margin-top: 10px;
}
#aside-nav{
  width: 185px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
#main-content{
  margin-left: 195px;
  height: 100%;
}
#aside{
  width: 100%;
  text-align: center;
  height: 100%;
}
#aside li{
  width: 100%;
  height: 60px;

}
#aside li a{
  display: block;
  line-height: 60px;
}
#aside li.active >a,#aside li:hover >a{
  background: $theme-color;
  color: #ffffff;
}

/*home page style*/
.home{
}
.module-nav{
  background: #ffffff;
  padding-left: 30px;
  max-width: 825px;
  margin-bottom: 10px;
  .nav-heading{
    height: 40px;
    padding-right: 30px;
      h3{
        float:left ;
        font-size: 14px;
        font-weight: 300;
        line-height: 40px;
      }
      a.more{
        float: right;
        line-height: 40px;
        color: $theme-color;
      }
  }
  .nav-body{
    padding: 10px 0 20px;
    li{
      float: left;
      width: 60px;
      text-align: center;
      height: 80px;
      margin-right: 70px;
      margin-bottom: 15px;
      span{
        display: block;
        line-height: 2;
      }
    }
  }
}

/*current page nav style*/
.route-nav{
  width: 100%;
  height: 45px;
  padding-left: 20px;
  border-bottom: 1px solid #ececec;
  background: $white-color;
}
.route-nav h2{
  line-height: 45px;
  font-size: 14px;
  color: #666;
  font-weight: 200;
}

/* inner two column style*/
#inner-wrapper{
  position: relative;
  height: 100%;
}
#inner-nav{
  width: 150px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-right: 1px solid #ececec;
}
#inner-nav ul li {
  height: 50px;
  border-bottom: 1px solid #ececec;
}
#inner-nav ul li a{
  line-height: 50px;
  display: block;
  text-align: center;
  color: #333333;
}
#inner-content{
  margin-left: 150px;
  height: 100%;
  padding: 15px;
  max-width: 1600px;
}
.link{
  color: $theme-color;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-left-20{
  margin-left: 20px;
}
.no-padding{
  padding: 0!important;
}
.btn{
  border: none;
  outline: none;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &.btn-lg{
     height: 40px;
     line-height: 40px;
    font-size: 16px;
   }
  &.btn-sm{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
  }
  &.btn-default{
    background: $theme-color;
  }
  &.btn-warning{
    background: $yellow-color;
  }
}
.btn-block{
  display: block;
  width: 100%;
}
.icon{
  display: inline-block;
  width: 16px;
  height: 20px;
  background: $theme-color;
}