@import "base";

/*header*/
#common-header{
  width: 100%;
  min-width: 1200px;
  height: 60px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);
  .header-left ,.header-right {
    display: flex;
    align-items: center;
  }
  .header-left{
    .header-nav a{
      float: left;
      margin-right: 30px;
      line-height: 60px;
      display: block;
      padding: 0 15px;
      font-weight: 400;
      i{
        font-size: 16px;
        margin-right: 3px;
        vertical-align: text-top;
      }
      &.active,&:hover{
        color: $theme-color;
        border-bottom: 2px solid $theme-color;
      }
    }
    .header-logo{
      width: 135px;
      height: 30px;
      margin-right: 25px;
      cursor: pointer;
      img{
        width: 100%;
      }
    }
  }
  .header-right {
    .login-user{
      display: flex;
      align-items: center;
      cursor: pointer;
      .img-wrapper{
        width: 30px;
        height: 30px;
        border-radius: 4px;
        overflow: hidden;
        margin-right: 5px;
      }
    }
    .header-search{
      position: relative;
      border: 1px solid $border-color;
      margin-right: 20px;
      input{
        width: 220px;
        height: 30px;
        border: none;
        outline: none;
        box-sizing: border-box;
        padding:0 0 0 10px;
      }
      i{
        position: absolute;
        right:5px;
        top: 8px;
        cursor: pointer;
      }
    }
    a.star,a.login-out{
      font-size: 22px;
      margin-left: 10px;
      line-height: 60px;
      cursor: pointer;
    }
    a.star{
      color: $theme-color;
    }
  }
}
/* main layout*/
#wrapper{
  width: 100%;
  min-width: 1200px;
  height: 100%;
  position: fixed;
  background: #f2f0f0;
}
#main-wrapper{
  position: relative;
  margin-top: 10px;
}
#aside-nav{
  width: 185px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
}
#main-content{
  margin-left: 195px;
  height: 100%;
}
#aside{
  height: 100%;
}
#aside li{
  width: 100%;
  height: 60px;
  cursor: pointer;

}
#aside li a{
  box-sizing: border-box;
  display: block;
  line-height: 60px;
  padding-left: 30px;
  i{
    font-size: 16px;
    margin-right: 5px;
  }
}
#aside li.active >a,#aside li:hover >a{
  background: $theme-color;
  color: #ffffff;
}


#calendar{
  position: absolute;
  left: 1010px;
  top:0;
}

/*home page style*/
.home{
}
.module-nav{
  background: #ffffff;
  padding-left: 30px;
  max-width: 825px;
  margin-bottom: 10px;
  .nav-heading{
    height: 40px;
    padding-right: 30px;
      h3{
        float:left ;
        font-size: 14px;
        font-weight: 300;
        line-height: 40px;
      }
      a.more{
        float: right;
        line-height: 40px;
        color: $theme-color;
        cursor: pointer;
        i{
          margin-left: 2px;
        }
      }
  }
  .nav-body{
    padding: 10px 0 20px;
    li{
      float: left;
      width: 60px;
      text-align: center;
      height: 80px;
      margin-right: 70px;
      margin-bottom: 15px;
      span{
        display: block;
        line-height: 2;
      }
    }
  }
}

/*current page nav style*/
.route-nav{
  width: 100%;
  height: 45px;
  padding-left: 20px;
  border-bottom: 1px solid #ececec;
  background: $white-color;
}
.route-nav h2{
  line-height: 45px;
  font-size: 14px;
  color: #666;
  font-weight: 200;
}

/* inner two column style*/
#inner-wrapper{
  position: relative;
  background: #ffffff;
}
#inner-nav{
  width: 150px;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-right: 1px solid #ececec;
}
#inner-nav ul li {
  height: 50px;
  border-bottom: 1px solid #ececec;
}
#inner-nav ul li a{
  line-height: 50px;
  display: block;
  text-align: center;
  color: #333333;
}
#inner-content{
  margin-left: 150px;
  padding: 15px;
  max-width: 1200px;
}
.link{
  color: $theme-color;
}
.margin-top-20{
  margin-top: 20px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-left-20{
  margin-left: 20px;
}
.no-padding{
  padding: 0!important;
}
.btn{
  border: none;
  outline: none;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &.btn-lg{
     height: 40px;
     line-height: 40px;
    font-size: 16px;
   }
  &.btn-sm{
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
  }
  &.btn-default{
    background: $theme-color;
  }
  &.btn-primary{
    background: #80d4ff;
  }
  &.btn-disable{
    background: $text-gray;
  }
  &.btn-warning{
    background: $yellow-color;
  }
}
.btn-block{
  display: block;
  width: 100%;
}
.icon{
  display: inline-block;
  vertical-align: middle;
}
input[type='checkbox']{
  width: 16px;
  height: 16px;
  border-radius: 0;
}

.section-block{
  background: $white-color;
  padding: 30px;
  table{
    width: 100%;
    min-width: 500px;
    line-height: 2.5;
    font-size: 16px;
    border-collapse: collapse;
    font-weight: 200;
    border-color: $border-color;
    >thead{
      font-weight: 400;
      color: #afafaf;
      border-bottom: 1px solid $border-color;
    }
    >tbody{
      font-size: 14px;
    }
    tr{
      td{
        min-width: 60px;
        padding: 3px 15px;
        &.multi{
         height: 200px;
        }
        &.em{
          font-weight: 400;
        }
        &.fixed-width{
          width: 120px;
        }
      }
    }
  }
}

.inner-menu{
  line-height: 3;
  background: $white-color;
  margin-bottom: 10px;
  padding-left: 20px;
  li{
    float: left;
    margin-right: 60px;
    a{

    }
    &.active a,&:hover a{
      color: $yellow-color;
    }
  }
}
#menu-list{
  background: #f8f8f8;
  border-bottom: 1px solid $theme-color;
  li{
    float: left;
    padding: 10px 30px;
    cursor: pointer;
    a{
      display: block;
      line-height: 2;
    }
    &.active,&:hover{
      background: $theme-color;
      a{
        color: $white-color;
      }
    }
  }
}
.container-wrapper{
  display: flex;
  .structure{
    background: $white-color;
    border-right: 1px solid $border-color;
    padding: 10px 0;
    width: 320px;
  }
  .content-list{
   width: 100%;
  }
}
.structure-tree{
  padding: 0 20px;
  line-height: 2.5;

  .structure-node{
    position: relative;
    cursor: pointer;
    &.open-node{
      &:before{
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-top: 10px solid $text-color;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 10px solid transparent;
        vertical-align: middle;
        margin-right: 5px;
        margin-top: 5px;
      }
    }
  }
}

.version-desc{
  background: #f8f8f8;
  padding-left: 20px;
  height: 60px;
  line-height: 60px;
  color: $text-gray;
}
.role-control{
  display: flex;
  padding: 0 15px 30px;
  .user-list{
    width: 200px;
    border: 1px solid $border-color;
    min-height: 400px;
    max-height: 600px;
    line-height: 3;
    overflow: auto;
    &::-webkit-scrollbar{
      display: none;
    }
    .list-title{
      background: $theme-color;
      padding-left: 15px;
      color: $white-color;
      position: relative;
      i{
        position: absolute;
        font-size: 12px;
        right: 10px;
        top: 15px;
      }
    }
    .list-wrapper{
      padding: 15px 0;
      .list-item{
        padding-left: 40px;
        cursor: pointer;
        &.active{
          background: #eaf6ff;
        }
      }
    }
  }
  .role-handle{
    margin: 70px 30px 0;
    button{
      margin-bottom: 20px;
    }
  }
}
