extends ../components/base
block title
    title 会议申请
block style
    link(rel='stylesheet', href= __CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/conference/con_room',text:'会议室维护'},{link:'/conference/con_apply',text:'会议申请'},{link:'/conference/con_approve',text:'待我审批'},{link:'/conference/con_summary',text:'会议纪要'},{link:'/conference/con_history',text:'历史会议'},{link:'/conference/con_sign',text:'会议签到情况'}]
    +asideNav(routerObj,1)
block main_content
    include ../components/mixin
    +RouteNav('会议申请')
    .condition
        .inline-group
            label(for='newsTheme') 会议主题:
            input#newsTheme(type='text')
        .inline-group
            label(for='date') 开会日期:
            input#date(type='text')
        .inline-group
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px') 查询
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px' onclick='window.location.href="/conference/con_create"') 会议发起
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px' onclick='deleteSomething("conference","conference")') 取消会议
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px' onclick='window.location.href="/conference/con_summary_detail"') 会议纪要
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  会议议题
                        td  会议时间
                        td  会议纪要
                        td  查看
                tbody
                    if(confercences.length)
                        each conference in confercences
                            tr
                                td
                                    input(type='checkbox' data-id=conference.meetingId)
                                td.link  #{conference.title}
                                td  #{conference.startTime}
                                td  #{conference.summaryContent}
                                td
                                    a.link(href='/conference/con_detail?edit=false&meetingId='+conference.meetingId) 查看





