extends ../components/base
block title
    title 历史会议
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/conference/con_room',text:'会议室维护'},{link:'/conference/con_apply',text:'会议申请'},{link:'/conference/con_approve',text:'待我审批'},{link:'/conference/con_summary',text:'会议纪要'},{link:'/conference/con_history',text:'历史会议'},{link:'/conference/con_sign',text:'会议签到情况'}]
    +asideNav(routerObj,4)
block main_content
    include ../components/mixin
    +RouteNav('历史会议')
    .condition
        .inline-group
            label(for='newsTheme') 会议主题:
            input#newsTheme(type='text')
        .inline-group
            label(for='newsCreate') 发布时间:
            input#newsCreate(type='time')
        .inline-group
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px') 查询
            button.btn.btn-warning.btn-sm(type='button') 删除
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  会议议题
                        td  状态
                        td  会议时间
                        td  会议纪要
                        td  操作
                tbody
                    tr
                        td
                            input(type='checkbox')
                        td.link  关于江苏省苏州市吴江交通局技术人才培训
                        td  已结束
                        td  2017-12-01
                        td  无
                        td.link  详情
                    tr
                        td
                            input(type='checkbox')
                        td.link  关于江苏省苏州市吴江交通局技术人才培训
                        td  已结束
                        td  2017-12-01
                        td  无
                        td.link  详情
                    tr
                        td
                            input(type='checkbox')
                        td.link  关于江苏省苏州市吴江交通局技术人才培训
                        td  已结束
                        td  2017-12-01
                        td  无
                        td.link  详情
                    tr
                        td
                            input(type='checkbox')
                        td.link  关于江苏省苏州市吴江交通局技术人才培训
                        td  已结束
                        td  2017-12-01
                        td  无
                        td.link  详情
                    tr
                        td
                            input(type='checkbox')
                        td.link  关于江苏省苏州市吴江交通局技术人才培训
                        td  已结束
                        td  2017-12-01
                        td  无
                        td.link  详情
                    tr
                        td
                            input(type='checkbox')
                        td.link  关于江苏省苏州市吴江交通局技术人才培训
                        td  已结束
                        td  2017-12-01
                        td  无
                        td.link  详情
                    tr
                        td
                            input(type='checkbox')
                        td.link  关于江苏省苏州市吴江交通局技术人才培训
                        td  已结束
                        td  2017-12-01
                        td  无
                        td.link  详情





