extends ../components/base
block title
    title  会议室维护
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/conference/con_room',text:'会议室维护'},{link:'/conference/con_apply',text:'会议申请'},{link:'/conference/con_approve',text:'待我审批'},{link:'/conference/con_summary',text:'会议纪要'},{link:'/conference/con_history',text:'历史会议'},{link:'/conference/con_sign',text:'会议签到情况'}]
    +asideNav(routerObj,0)
block main_content
    include ../components/mixin
    +RouteNav('会议室维护')
    .condition
        .inline-group
            label(for='newsTheme') 资源名称:
            input#newsTheme(type='text')
        .inline-group
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px') 查询
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px') 新建
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  资源名称
                tbody
                    if(resLists.length)
                        each res in resLists
                            tr
                                td
                                    input(type='checkbox')
                                td  #{res.name}
