#aside
    ul.nav.nav-pills.nav-stacked
        li(role='presentation')
            a(href='/') 首页空间
        li(role='presentation')
            a(href='/message') 消息列表
        li(role='presentation')
            a(href='/contact') 通讯录