extends ./layout
block content
    #wrapper
        #header
            block common_header
        #main-wrapper
            #aside-nav
                block aside_content
            #main-content
                block main_content

