extends ./layout
block content
    #wrapper
        #header
            include ./header
        #main-wrapper
            #aside-nav
                include ./aside
            #main-content
                block main_content

