mixin ContactBook
    .role-control(style="margin-top:20px")
        .user-list.option-user
            .list-title
                i.icon-down
                .title-item.all
                    span.title-tab 按照人员选择
                .title-item.dep(style="display:none")
                    span.title-tab 按照部门选择
            .list-wrapper.allUserOption
                .list-item 孙悟空
                .list-item 唐僧
                .list-item 白骨精
                .list-item 猪八戒
                .list-item 沙悟净
                .list-item 玉皇大帝
                .list-item 太上老君
            .list-wrapper.departmentUserOption(style="display:none")
                .structure
                    ul.structure-tree
                        li.structure-node.close-node 组织架构信息
                            ul.structure-tree(style="display:none")
                                li.structure-node.close-node
                                    span.active 吴江交通运输局
                                    ul.structure-tree(style="display:none")
                                        li.structure-node.close-node 一级部门1
                                            ul.structure-tree(style="display:none")
                                                li.structure-node 二级部门1
                                                li.structure-node 二级部门2
                                        li.structure-node.close-node 一级部门2
                                            ul.structure-tree
                                                li.structure-node 二级部门1
                                                li.structure-node 二级部门2
                                        li.structure-node 一级部门3
                                li.structure-node.close-node 汽车研究院
                                    ul.structure-tree(style="display:none")
                                        li.structure-node.close-node 一级部门1
                                            ul.structure-tree(style="display:none")
                                                li.structure-node 二级部门1
                                                li.structure-node 二级部门2
                                        li.structure-node.close-node 一级部门2
                                            ul.structure-tree(style="display:none")
                                                li.structure-node 二级部门1
                                                li.structure-node 二级部门2
                                        li.structure-node 一级部门3

        .role-handle
            button.btn.btn-default.btn-sm#addSelectUser(type='button') 添加>
            br
            button.btn.btn-warning.btn-sm#deleteSelectUser(type='button') <删除
        .user-list.select-user
            .list-title
                .title-item
                    span 已选人员
            .list-wrapper.selectedBox
                .list-item 观音菩萨
                .list-item 如来佛祖
                .list-item 红孩儿
                .list-item 金角大王
                .list-item 银角大王
    .form-control.btn-wrapper
        button.btn.btn-default.btn-sm.addConfirm(type='button') 保存
        button.btn.btn-disable.btn-sm.addCancel(type='button' style='margin-left:20px') 取消
    script.
        $('.list-title i.icon-down').on('click',function(){
            $('.title-item').show()
        })
        $('.title-item').on('click',function(){
            console.log($('.title-item'))
            $(this).siblings('.title-item').hide()
            if($(this).hasClass('all')){
                $('.allUserOption').show()
                $('.departmentUserOption').hide()
            }else{
                $('.allUserOption').hide()
                $('.departmentUserOption').show()
            }
        })
        $('.list-item').on('click',function(){
            console.log($(this))
            if(!$(this).hasClass('active')) {$(this).addClass('active')}
        })
        $('#addSelectUser').click(function () {
            var selectList = $('.list-item.active')
            if(selectList.length==0){
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.alert('嗨，先选人呐');
                });
            }else{
                $('.selectedBox').append(selectList)
            }

        })
        $('.structure-node.close-node').on('click',function () {
            $(this).removeClass('close-node').addClass('open-node').find('ul').first().show()
        })
        $('.structure-node.open-node').on('click',function () {
            console.log('12214444')
            $(this).removeClass('open-node').addClass('close-node').find('ul').first().hide()
        })
        $('.addCancel').on('click', function () {
            $('#mask').hide()
            $('#modal').hide()
        })
