mixin ContactBook
    .role-control(style="margin-top:20px")
        .user-list.option-user
            .list-title
                i.icon-down
                .title-item.all
                    span.title-tab 按照人员选择
                .title-item.dep(style="display:none")
                    span.title-tab 按照部门选择
            .list-wrapper.allUserOption
                if(allUsers.length)
                    each user in allUsers
                        .list-item(data-person-id=user.id data-person-name=user.name) #{user.name}
            .list-wrapper.departmentUserOption(style="display:none")
                .structure
                    ul.structure-tree
                        li.structure-node.close-node 组织架构信息
                            ul.structure-tree(style="display:none")
                                li.structure-node.close-node
                                    span.active 吴江交通运输局
                                    ul.structure-tree(style="display:none")
                                        li.structure-node.close-node 一级部门1
                                            ul.structure-tree(style="display:none")
                                                li.structure-node 二级部门1
                                                li.structure-node 二级部门2
                                        li.structure-node.close-node 一级部门2
                                            ul.structure-tree
                                                li.structure-node 二级部门1
                                                li.structure-node 二级部门2
                                        li.structure-node 一级部门3
                                li.structure-node.close-node.children1 汽车研究院
                                    ul.structure-tree(style="display:none")
                                        li.structure-node.close-node 一级部门1
                                            ul.structure-tree(style="display:none")
                                                li.structure-node 二级部门1
                                                li.structure-node 二级部门2
                                        li.structure-node.close-node 一级部门2
                                            ul.structure-tree(style="display:none")
                                                li.structure-node 二级部门1
                                                li.structure-node 二级部门2
                                        li.structure-node 一级部门3

        .role-handle
            button.btn.btn-default.btn-sm#addSelectUser(type='button' data-type='user') 添加>
            br
            button.btn.btn-warning.btn-sm#deleteSelectUser(type='button' data-type='user') <删除
        .user-list.select-user
            .list-title
                .title-item
                    span 已选人员
            .list-wrapper.selectedBox
    .form-control.btn-wrapper
        button.btn.btn-default.btn-sm.addConfirm(type='button') 保存
        button.btn.btn-disable.btn-sm.addCancel(type='button' style='margin-left:20px') 取消
    script.
        $('.list-title i.icon-down').on('click',function(){
            $('.title-item').show()
        })
        $('.title-item').on('click',function(){
            console.log($('.title-item'))
            $(this).siblings('.title-item').hide()
            if($(this).hasClass('all')){
                $('.allUserOption').show()
                $('.departmentUserOption').hide()
                $('#addSelectUser').attr('data-type','user')
                $('#deleteSelectUser').attr('data-type','user')
            }else{
                $('.allUserOption').hide()
                $('.departmentUserOption').show()
                $('#addSelectUser').attr('data-type', 'dp')
                $('#deleteSelectUser').attr('data-type', 'dp')
            }
        })
        $('.list-item').on('click',function(){
            $('.list-item').removeClass("active");
            $(this).addClass("active");
        });

        $('#addSelectUser').click(function () {
            if($(this).attr('data-type') == 'user'){
                var selectList = $('.list-wrapper.allUserOption').find('.list-item.active')
                if (selectList.length == 0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('嗨，先选人呐');
                    });
                } else {
                    selectList = selectList.removeClass("active");
                    $('.selectedBox').append(selectList);
                }
            }else{
                var selectDPList = $('.departmentUserOption').find(".selectDP");
                if(selectDPList.length == 0){
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('还没有选择部门');
                    });
                }else{
                    selectDPList = selectDPList.removeClass("selectDP").addClass("chooseDP");
                    $('.selectedBox').append(selectDPList);
                }
            }
        });

        $('#deleteSelectUser').click(function () {
            if($(this).attr('data-type') == 'user'){
                var selectedList = $('.list-wrapper.selectedBox').find(".list-item.active")
                if (selectedList.length == 0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('嗨，先选人呐');
                    });
                } else {
                    selectedList = selectedList.removeClass("active");
                    $('.list-wrapper.allUserOption').append(selectedList);
                }
            }else{
                var selectDPList = $('.list-wrapper.selectedBox').find(".selectDP");
                if (selectDPList.length == 0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.alert('还没有选择部门');
                    });
                } else {
                    selectDPList = selectDPList.removeClass("chooseDP").removeClass("selectDP")
                    $('.departmentUserOption').append(selectDPList);
                }
            }

        });

        $('.close-node').on('click',function (e) {
            if($(this).hasClass('open-node')){
                $(this).removeClass('open-node').addClass('close-node').find('ul').first().hide()
            }else{
                $(this).removeClass('close-node').addClass('open-node').find('ul').first().show()
            }
            $('.structure').find('li').removeClass('selectDP');
            $(this).addClass('selectDP');
            e.stopPropagation();//阻止冒泡
        });


        $('.addCancel').on('click', function () {
            $('#mask').hide()
            $('#modal').hide()
        })

        $('.addConfirm').on('click',function () {
            $('input[name="choosePersonId"]').remove();
            var personIDs = $('.selectedBox').find(".list-item");
            var personIDArr = [];
            var chooseNameArr = [];
            console.log(personIDs);
            for(var i =0; i< personIDs.length; i++){
                console.log(personIDs[i])
                var personID = personIDs[i].getAttribute("data-person-id");
                var personName = personIDs[i].getAttribute("data-person-name");
                personIDArr.push(personID);
                chooseNameArr.push(personName);
            }
            $('body').append('<input type="hidden" id="choosePersonId" value="' + String(personIDArr) + '"/>');
            if($('#approver').length){
                $('#approver').val(String(chooseNameArr));
            }
            $('#mask').hide()
            $('#modal').hide()
        })
