style.
    .navbar{
        border-radius: 0;
        margin-bottom: 0;
    }
nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href='#') 吴江交通综合信息管理与服务平台