style.
    .navbar{
        border-radius: 0;
        margin-bottom: 0;
    }
header#common-header
    .header-left
        .header-logo
            img(src='/images/logo.png')
        .header-nav
            a.active(href='') 首页空间
            a(href='') 消息列表
            a(href='') 通讯录
            a(href='') 网盘
            a(href='') 设置
    .header-right
        .login-user
            .img-wrapper
                img(src='/images/avatar.png')
            .name   Lingyu.ZHOU
        a.login-out 退出
