doctype html
html
  head
    block title
    link(rel='stylesheet', href='/plugins/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    block style
  body
    block content
    block script
