// breadcrumb
mixin RouteNav(nav)
    div.route-nav
        h2 #{nav}

mixin menuLink(obj,activeIndex)
    ul.inner-menu.clearfix
        each item,index in obj
            li(class=(activeIndex==index)?'active':'')
                a(href=""+item.link) #{item.text}

mixin asideNav(obj,activeIndex)
    ul#aside
        each item,index in obj
            li(class=(activeIndex==index)?'active':'')
                a(href=""+item.link)
                    i.icon(class=[item.icon])
                    |#{item.text}