extends components/base
block title
  title 首页
block main_content
  .home.clearfix
        .panel.panel-default.module-nav
          .panel-heading
            h3.panel-title 日常办公
          .panel-body
            ul.nav-links.clearfix
              li
                a(href='/news_list') 新闻
              li
                a(href='/news') 公告
              li
                a(href='/news') 公文
              li
                a(href='/news') 邮箱
              li
                a(href='/news') 工单
              li
                a(href='/news') 会议管理
              li
                a(href='/news') 网盘
              li
                a(href='/news')   +
        .panel.panel-default.module-nav
          .panel-heading
            h3.panel-title 日常办公
          .panel-body
            ul.nav-links
              li
                a(href='/news') 新闻
              li
                a(href='/news') 公告
              li
                a(href='/news') 公文
              li
                a(href='/news') 邮箱
              li
                a(href='/news') 工单
              li
                a(href='/news') 会议管理
              li
                a(href='/news') 网盘
              li
                a(href='/news')   +
        .panel.panel-default.module-nav
          .panel-heading
            h3.panel-title 日常办公
          .panel-body
            ul.nav-links
              li
                a(href='/news') 新闻
              li
                a(href='/news') 公告
              li
                a(href='/news') 公文
              li
                a(href='/news') 邮箱
              li
                a(href='/news') 工单
              li
                a(href='/news') 会议管理
              li
                a(href='/news') 网盘
              li
                a(href='/news')   +
