extends ../components/base
block title
    title 消息
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/my_message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,1)
block main_content
    include ../components/mixin
    +RouteNav('消息')
    #inner-wrapper
