extends ../components/base
block title
    title 应用添加
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block common_header
    include ../components/header
    +commonheader(0)
block style
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_addpage',text:'对接系统管理'},{link:'/setting/app_create',text:'第三方应用系统管理'}]
    +menuLink(menuObj,2)
    -var navObj = [{link:'/setting/app_create',text:'应用管理'},{link:'/setting/app_permission',text:'应用查看'}]
    +menuNav(navObj,0)
    +RouteNav('应用管理')
    #inner-wrapper
        .news-create
            img(style='max-width:800px;' src=__IMAGES_PATH__ + '/app_manage.png')
            //.form-control
            //    label.control-label(for='sysName') 系统中文名称:
            //    input#sysName.form-control(type='text')
            //.form-control
            //    label.control-label(for='source') URL地址:
            //    input#source.form-control(type='text')
            //.form-control
            //    label.control-label(for='order') 应用排序:
            //    input#order.form-control(type='text')
            //.form-control
            //    label.control-label(for='description') 应用描述:
            //    textarea#description.form-control(rows='8')
            //.form-control.btn-wrapper
            //    button.btn.btn-default.btn-sm(type='button') 添加
            //    button.btn.btn-disable.btn-sm(type='button' style='margin-left:20px') 取消










