extends ../components/base
block title
    title 应用权限控制
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_manage',text:'对接系统管理'},{link:'/setting/app_manage',text:'第三方应用系统管理'},{link:'/setting/data_service',text:'数据服务管理'}]
    +menuLink(menuObj,2)
    -var navObj = [{link:'/setting/app_manage',text:'应用管理'},{link:'/setting/app_permission',text:'应用查看'}]
    +menuNav(navObj,1)
    +RouteNav('应用查看')
    .haha(style="min-height:400px;")
        .news-create
            .module-nav
                ul.nav-body.clearfix(style="min-height:400px;")
                    if(apps.length)
                        each app in apps
                            li
                                a(href="#" data-id=app.clientKey)
                                    .img-wrapper
                                        img(style="width:60px;" src=app.icon)
                                    span #{app.name}










