extends ../components/base
block title
    title 应用添加

block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_manage',text:'对接系统管理'},{link:'/setting/app_manage',text:'第三方应用系统管理'},{link:'/setting/data_service',text:'数据服务管理'}]
    +menuLink(menuObj,2)
    -var navObj = [{link:'/setting/app_manage',text:'应用管理'},{link:'/setting/app_permission',text:'应用查看'}]
    +menuNav(navObj,0)
    +RouteNav('应用管理')
    #inner-wrapper
        form#saveForm.news-create(action='/setting/app_save' method='post')
            .form-control
                label.control-label(for='sysName') 应用名称:
                input#sysName.form-control(type='text' name='name' value=appInfo.name)
            .form-control
                label.control-label(for='file') 程序上传:
                input#file.form-control(type='file' name='file')
            .form-control.btn-wrapper
                button.btn.btn-default.btn-sm(type='button' onclick="uploadFileForm();") 添加
                button.btn.btn-disable.btn-sm(type='button' onclick="history.go(-1);" style='margin-left:20px') 取消
block script
    script(type="text/javascript").
        function uploadFileForm() {
            var form = new FormData(document.getElementById("saveForm"));
            $.ajax({
                url: "/setting/app_save",
                type: "post",
                data: form,
                processData: false,
                contentType: false,
                success: function (data) {
                    var resObj = JSON.parse(data);
                    console.log(data);
                    if (resObj.code === 1) {
                        layerAlert("添加成功", "ok");
                        setTimeout(function () {
                            window.location.href="/setting/app_manage";
                        }, 1000)
                    } else {
                        layerAlert("添加失败：" + resObj.msg, "error");
                    }
                },
                error: function (e) {
                    layerAlert("网络错误，请稍后再试", "error");
                }
            });
        }









