extends ../components/base
block title
    title 组织机构编辑
block common_header
    include ../components/header
    +commonheader(0)
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    style.
        #main-wrapper {
            margin-top: 10px;
        }
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_addpage',text:'对接系统管理'},{link:'/setting/app_create',text:'第三方应用系统管理'}]
    +menuLink(menuObj,0)
    -var navObj = [{link:'#',text:'组织机构管理'},{link:'/setting/user_manage',text:'用户管理'},{link:'/setting/role_manage',text:'角色权限管理'},{link:'/setting/region_manage',text:'行政区划分'},{link:'/setting/log_manage',text:'日志管理'}]
    +menuNav(navObj,0)
    +RouteNav('组织机构编辑')
    #inner-wrapper
        .news-create
            .form-control
                label.control-label(for='department') 部门名称:
                input#department.form-control(type='text')
            .form-control
                label.control-label(for='depart') 上级部门:
                select#depart.form-control
                    option xxx
                    option xxx
                    option xxx
                    option xxx
                    option xxx
            .form-control
                label.control-label(for='order') 排序:
                input#order.form-control(type='text')
            .form-control.btn-wrapper
                button.btn.btn-default.btn-sm(type='button') 保存
                button.btn.btn-disable.btn-sm(type='button' style='margin-left:20px') 取消







