extends ../components/base
block title
    title 组织机构管理
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
    link(rel="stylesheet", href=__PLUGINS_PATH__ + "/ztree/zTreeStyle.css")
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/contact_addpage',text:'对接系统管理'},{link:'/setting/app_create',text:'第三方应用系统管理'}]
    +menuLink(menuObj,0)
    -var navObj = [{link:'#',text:'组织机构管理'},{link:'/setting/user_manage',text:'用户管理'},{link:'/setting/role_manage',text:'角色权限管理'},{link:'/setting/region_manage',text:'行政区划分'},{link:'/setting/log_manage',text:'日志管理'}]
    +menuNav(navObj,0)
    div.nav-handle.clearfix
        .nav-name 组织机构管理
        .handle-wrapper
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='createNewDep();') 新增
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick='editNewDep();') 编辑
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px' onclick='deleteDep();') 删除
    #inner-wrapper
        .container-wrapper
            ul#tree.ztree(data-node=depAll)

include ../components/tree
    +treeShow()










