extends ../components/base
block title
    title 行政区域划分
block main_content
    include ../components/mixin
    +RouteNav('行政区域划分')
    table.table.table-bordered.margin-top-20.margin-left-20.text-center(style='max-width:650px')
        theader
            tr
                td 组织机构
                td 行政区域
                td 点
                td 线
                td 面
        tbody
            tr
                td xxx机构
                td xxx机构
                td xxx机构
                td xxx机构
                td xxx机构




