extends ../components/base
block title
    title 行政区划分
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'应用',icon:'icon-app'},{link:'/im/message',text:'消息',icon:'icon-message2'},{link:'/setting/user_manage',text:'平台管理',icon:'icon-setting'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    -var menuObj = [{link:'/setting/organization_manage',text:'平台自身管理'},{link:'/setting/app_create',text:'对接系统管理'},{link:'#',text:'数据服务管理'},{link:'#',text:'第三方应用系统管理'}]
    +menuLink(menuObj,0)
    -var navObj = [{link:'/setting/organization_manage',text:'组织机构管理'},{link:'/setting/user_manage',text:'用户管理'},{link:'/setting/role_manage',text:'角色权限管理'},{link:'#',text:'行政区划分'},{link:'/setting/log_manage',text:'日志管理'}]
    +menuNav(navObj,3)
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td  组织机构
                        td  行政区域
                        td  点
                        td  线
                        td  面
                tbody
                    tr
                        td.link  交通局
                        td  某某某区域
                        td  某某某点
                        td  某某某线
                        td  某某某面
                    tr
                        td.link  交通局
                        td  某某某区域
                        td  某某某点
                        td  某某某线
                        td  某某某面
                    tr
                        td.link  交通局
                        td  某某某区域
                        td  某某某点
                        td  某某某线
                        td  某某某面
                    tr
                        td.link  交通局
                        td  某某某区域
                        td  某某某点
                        td  某某某线
                        td  某某某面

                    tr
                        td.link  交通局
                        td  某某某区域
                        td  某某某点
                        td  某某某线
                        td  某某某面
                    tr
                        td.link  交通局
                        td  某某某区域
                        td  某某某点
                        td  某某某线
                        td  某某某面
