extends ../components/base
block title
    title 用户管理
block main_content
    include ../components/mixin
    +RouteNav('用户管理')
    .user-manage.margin-top-20.margin-left-20
        form.form-inline
            .form-group.form-group-sm
                label(for='username') 用户名称:&nbsp;&nbsp;
                input#username.form-control(type='text', placeholder='')
            .form-group.form-group-sm.margin-left-20
                label(for='type') 用户类型:&nbsp;&nbsp;
                select.form-control#type
                    option 1
                    option 2
                    option 3
                    option 4
            button.btn.btn-default.btn-sm.margin-left-20(type='button') 查询
            button.btn.btn-primary.btn-sm.margin-left-20(type='button') 新建
            button.btn.btn-warning.btn-sm.margin-left-20(type='button') 删除
        table.table.table-bordered.text-center.margin-top-20(style='max-width:750px')
            theader
                tr
                    td
                        input(type='checkbox')
                    td 用户姓名
                    td 登录账号
                    td 用户角色
                    td 所属部门
                    td 创建时间
                    td 操作
            tbody
                tr
                    td
                        input(type='checkbox')
                    td xxx
                    td xxx
                    td xxx
                    td xxx
                    td xxx
                    td
                      a.link 编辑




