extends loginLayout
block title
    title 修改密码
block box
    .admin-login
        .panel.fixed-width-panel
            .panel-heading
                h2.panel-title 修改密码
            .panel-body
                form
                    .form-group.form-input
                        label(for='loginUser')
                            i.icon.icon-user
                        input#loginUser.form-control(type='password' placeholder='旧密码' required)
                    .form-group.form-input
                        label(for='loginPass')
                            i.icon.icon-pass
                        input#loginPass.form-control(type='password' placeholder='验证码' required)
                        .getPhoneCode 获取验证码
                    .form-group
                        button.btn.btn-default.btn-lg.btn-block(type='submit') 确认
