extends ../components/layout
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/login.css')
block content
    .outer-wrapper.clearfix
        #box-intro
            h1 吴江交通
            h4 综合信息管理与服务平台
            p 苏州市吴江交通运输局
        #box-center
            block box
