extends loginLayout
block title
    title 欢迎登录
block box
    .login-page
        .panel
            .panel-heading
                h2.panel-title 登录
                    span 使用手机APP扫码登录或账号密码登录
            .panel-body.clearfix
                .binary-code
                    img(src='/images/code.png')
                form.login-container
                    .form-group.form-input
                        label.icon.icon-user(for='loginUser')
                        input#loginUser.form-control(type='text' placeholder='账号或手机号' required)
                    .form-group.form-input
                        label.icon.icon-pass(for='loginPass')
                        input#loginPass.form-control(type='password' placeholder='密码' required)
                    .form-group.form-check
                        input#rememberPass.form-control(type='checkbox')
                        label.control-label(for='rememberPass') 记住密码
                    .form-group.no-padding
                        button.btn.btn-default.btn-block(type='submit') 登录
                    #router-link
                        a 新用户注册
                        a 忘记密码
