extends ../components/layout
block title
    title 欢迎登录
block style
    link(rel='stylesheet', href='/stylesheets/login.css')
block content
    .outer-wrapper
        #box-intro
            h1 吴江交通
            h4 综合信息管理与服务平台
            p 苏州市吴江交通运输局
        #box-center
            .panel
                .panel-heading
                    h2.panel-title 统一账号登录
                    .binary-code
                        img(src='/images/loginCode.png')
                .panel-body
                    form
                        .form-group.form-input
                            label.icon.icon-user(for='loginUser')
                            input#loginUser.form-control(type='text' placeholder='账号或手机号')
                        .form-group.form-input
                            label.icon.icon-pass(for='loginPass')
                            input#loginPass.form-control(type='password' placeholder='密码')
                        .form-group.form-check
                            input#rememberPass.form-control(type='checkbox')
                            label.control-label(for='rememberPass') 记住密码
                        .form-group
                            button.btn.btn-block(type='submit') 登录
                        .form-group#router-link
                            a 新用户注册
                            a 忘记密码
