extends ../components/layout
block content
  h1  #{message}
block script
  script(type="text/javascript").
    setTimeout(function () {
      window.history.go(-1);
      window.reload();
    },2000);
