
<style>
  .navbar{
      border-radius: 0;
      margin-bottom: 0;
  }
</style>
<header id="common-header">
  <div class="header-left">
    <div class="header-logo"><img src="../../images/logo.png"/></div>
    <div class="header-nav clearfix"><a class="active" href="/"><i class="icon icon-home"></i>工作台</a><a href="/im/message"><i class="icon icon-envelope"></i>即时通讯</a><a href="/netdisk/company_disk"><i class="icon icon-disk"></i>网盘</a><a href=""><i class="icon icon-screen"></i>多屏幕模式</a></div>
  </div>
  <div class="header-right">
    <div class="header-search">
      <input type="text"/><i class="icon icon-search"></i>
    </div>
    <div class="login-user">
      <div class="img-wrapper"><img src="../../images/avatar.png"/></div>
      <!--.name   Lingyu.ZHOU-->
    </div><a class="star"><i class="icon icon-star"></i></a><a class="login-out"><i class="icon icon-close"></i></a>
  </div>
</header>