<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../../images/favicon.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="../../stylesheets/normalize.css">
    <link rel="stylesheet" href="../../stylesheets/style.css">
    <script src="../../plugins/jquery-2.1.4/jquery-2.1.4.min.js"></script>
    <script src="../../javascripts/common.js"></script>
  </head>
  <body>
  </body>
</html>