extends ../components/base
block title
    title 新闻分类
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'#',text:'新闻查阅'},{link:'/news/news_manage',text:'新闻管理'},{link:'#',text:'分类管理'},{link:'/news/news_create',text:'发布新闻'},{link:'/news/news_approve',text:'待我审批'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    +RouteNav('新闻分类')
    .condition
        .inline-group
            label(for='newsTheme') 主题:
            input#newsTheme(type='text')
        .inline-group
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 删除
            button.btn.btn-default.btn-sm(type='button') 查询
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  分类名
                        td  发布人
                        td  发布时间
                tbody
                    if(typeList.length)
                        each typeInfo in typeList
                            tr
                                td
                                    input(type='checkbox')
                                td  #{typeInfo.typeName}
                                td  #{typeInfo.createName}
                                td  #{typeInfo.createTime}





