extends ../components/base
block title
    title 发布新闻
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/news_list',text:'新闻查阅'},{link:'/news_manage',text:'新闻管理'},{link:'/news_create',text:'发布新闻'},{link:'/news_approve',text:'待我审批'}]
    +asideNav(routerObj,2)
block main_content
    include ../components/mixin
    +RouteNav('新闻发布')
    #inner-wrapper
        .news-create
            .form-control
                label.control-label(for='title') 标题:
                input#title.form-control(type='text')
            .form-control
                label.control-label(for='creator') 发布人:
                input#creator.form-control(type='text')
            .form-control
                label.control-label(for='time') 发布时间:
                input#time.form-control(type='date')
            .form-control
                label.control-label(for='type') 新闻类别:
                select#type.form-control
                    option xxx
                    option xxx
                    option xxx
                    option xxx
                    option xxx
            .form-control
                label.control-label(for='review') 查阅人员:
                input#review.form-control(type='text' readonly)
            .form-control
                label.control-label(for='detail') 发布内容:
                textarea#detail.form-control(rows=10 )
            .form-control.btn-wrapper
                button.btn.btn-default.btn-sm(type='button') 发布
                button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 取消







