extends ../components/base
block title
    title 公告查阅
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'#',text:'公告查阅'},{link:'/notice/notice_create',text:'公告发布'},{link:'/notice/notice_manage',text:'公告管理'},{link:'/notice/notice_approve',text:'待我审批'}]
    +asideNav(routerObj,0)
block main_content
    include ../components/mixin
    +RouteNav('公告查阅')
    .condition
        .inline-group
            label(for='newsTheme') 主题:
            input#newsTheme(type='text')
        .inline-group
            span(style='margin-right:10px') 公文状态:
            input#unread(type='radio' name='read' checked style='margin-right:10px')
            label(for='unread' style='margin-right:25px') 未阅读
            input#read(type='radio' name='read' style='margin-right:10px')
            label(for='read') 已阅读
        .inline-group
            label(for='newsCreate') 发布时间:
            input#newsCreate(type='time')
        .inline-group
            button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px') 删除
            button.btn.btn-warning.btn-sm(type='button') 查询
    #inner-wrapper
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  标题
                        td  发布人
                        td  发布时间
                        td  发布状态
                tbody
                    tr
                        td
                            input(type='checkbox')
                        td  xxx
                        td  xxx
                        td  2017-12-01
                        td  已读
                    tr
                        td
                            input(type='checkbox')
                        td  xxx
                        td  xxx
                        td  2017-12-01
                        td  已读





