extends ../components/base
block title
    title 公文查阅
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/',text:'公文查阅'},{link:'/',text:'公文发布'},{link:'/',text:'公文管理'},{link:'/',text:'待我审核'}]
    +asideNav(routerObj,0)
block main_content
    include ../components/mixin
    +RouteNav('公文查阅')
    #inner-wrapper
        .condition
            .inline-group
                label(for='newsTheme') 主题:
                input#newsTheme(type='text')
            .inline-group
                span(style='margin-right:10px') 公文状态:
                input#unread(type='radio' name='read' checked style='margin-right:10px')
                label(for='unread' style='margin-right:25px') 未阅读
                input#read(type='radio' name='read' style='margin-right:10px')
                label(for='read') 已阅读
            .inline-group
                label(for='newsCreate') 发布时间:
                input#newsCreate(type='time')
            .inline-group
                button.btn.btn-warning.btn-sm(type='button' style='margin-left:20px') 删除
                button.btn.btn-warning.btn-sm(type='button') 查询
        .content-list.section-block
            table.table.table-bordered
                thead
                    tr
                        td
                            input(type='checkbox')
                        td  标题
                        td  发布人
                        td  发布时间
                        td  发布状态
                tbody
                    tr
                        td
                            input(type='checkbox')
                        td  xxx
                        td  xxx
                        td  2017-12-01
                        td  已读
                    tr
                        td
                            input(type='checkbox')
                        td  xxx
                        td  xxx
                        td  2017-12-01
                        td  已读





