extends ../components/base
block title
    title 流程配置
block style
    link(rel='stylesheet', href=__CSS_PATH__ + '/news.css')
block aside_content
    include ../components/mixin
    -var routerObj = [{link:'/workflow/workflow_manage',text:'流程配置'}]
    +asideNav(routerObj,0)
block main_content
    include ../components/mixin
    +RouteNav('流程配置')
    .condition
        .inline-group
            button.btn.btn-default.btn-sm(type='button') 新建节点
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 新建节点
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 编辑节点
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 删除节点
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px') 保存
            button.btn.btn-default.btn-sm(type='button' style='margin-left:20px' onclick="window.location.href='/workflow/workflow_manage'") 返回
    #inner-wrapper
